script(type='text/javascript', src='/javascripts/jquery-2.1.0.min.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/knockout-3.1.0.js')
