script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/knockout-2.1.0.js')
script(type='text/javascript', src='/javascripts/tutorial1/tutorial1.js')
