extends layout

block content
  .page-header
    h1 Tutorials

  .row
    .col-md-2
      a(href='/tutorial1') Tutorial 1
    .col-md-10 Introduction
  .row
    .col-md-2
      a(href='/tutorial2') Tutorial 2
    .col-md-10 Working with Lists and Collections
  .row
    .col-md-2
      a(href='/tutorial3') Tutorial 3
    .col-md-10 Single page applications
