extends layout

block content
  .page-header
    h1= title

  .row
    .col-md-2
      p First name:
    .col-md-10
      strong(data-bind="text: firstName")
  .row
    .col-md-2
      p Last name:
    .col-md-10
      strong(data-bind="text: lastName")
  .row
    .col-md-2
      p Full name:
    .col-md-10
      strong(data-bind="text: fullName")
  .row
    .col-md-2
      p First Name:
    .col-md-10
      input(data-bind="value: firstName")
  .row
    .col-md-2
      p Last Name:
    .col-md-10
      input(data-bind="value: lastName")
  .row
    .col-md-12
      button.btn.btn-primary(type="button", data-bind="click: capitalizeLastName").btn Go caps

block scripts
  script(type='text/javascript', src='/javascripts/tutorial1/tutorial1.js')
