extends layout

block content
  .page-header
    h1= title

  .row
    .col-md-12
      h2 Your seat reservations (
        span(data-bind="text: seats().length")
        span )
  .row
    .col-md-12
      table.table.table-striped
        thead
          tr
            th Passenger Name
            th Meal
            th Surcharge
        tbody(data-bind="foreach: seats")
          tr
            td
              input(data-bind="value: name")
            td
              select(data-bind="options: $root.availableMeals, value: meal, optionsText: 'mealName'")
            td(data-bind="text: formattedPrice")
            td
              a(data-bind="click: $root.removeSeat") Remove
  .row
    .col-md-12
      button.btn.btn-primary(type="button", data-bind="click: $root.addSeat, enable: seats().length < 8").btn Reserve another seat
  .row
    .col-md-12
      h3(data-bind="visible: totalSurcharge() > 0") Total surcharge $
        span(data-bind="text: totalSurcharge().toFixed(2)")

block scripts
  script(type='text/javascript', src='/javascripts/tutorial2/tutorial2.js')
